* {
    margin: 0;
    padding: 0;
    /* border: 0.5px solid red; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 38vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    background-image: url("./assets/top-birra-in-botte.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position: center bottom; */
}

  
 
 
   

.mask{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 38vw;
    background-color: rgba(228, 56, 56, 0.3);
    /* box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6); */

}
main {

    background-color: rgb(222, 229, 226);
}

h1 {
    color: rgb(239, 240, 247);

}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    padding: 25px 0px;
   

}

.card {
    display: flex;
    min-width: 500px;
    height: 250px;
    width: 45%;
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
    /* box-shadow: 4px 6px 13px 9px rgba(0, 0, 0, 0.1); */
    border-radius: 15px;
}

.map {
    width: 250px;
    height: 250px;
}

.card-text {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 2px;
    margin-left: 5px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

footer {
    text-align: center;
    background-color: rgb(67, 28, 7);
    
}
p{
    color:rgb(179, 180, 188) ;
}